/Saludos/nbproject/private/
/Saludos/build/
/01_Variables/nbproject/private/
/01_Variables/build/
/02_Operadores/nbproject/private/
/02_Operadores/build/
/03_SentenciasControl/nbproject/private/
/03_SentenciasControl/build/
/04_Ciclos/nbproject/private/
/04_Ciclos/build/
/05_UsoClases/nbproject/private/
/05_UsoClases/build/
/06_Constructores/nbproject/private/
/06_Constructores/build/
/07_CalcularFiguras/nbproject/private/
/07_CalcularFiguras/build/